*{
  padding: 0;
  margin: 0;
}
.header {
  margin-bottom: 30px;
}

.header__wrapper_top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #494748;
  padding: 14px;
}

.nav__link:hover {
  color: #69AF56;
  padding-bottom: 14px;
  border-bottom: 2px solid #61AC43;
}

.auth__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.auth__link {
  background: #61AC43;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
}

.auth__link:hover {
  background: #FF9900;
  color: white;
}

.registration {
  display: flex;
  justify-content: center;
}

#registration-form {
  display: none;
}

.registration-form {
  margin: 0 auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  background: dimgray;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 100;
}

.registration-form__title {
  color: white;
  margin-bottom: 15px;
}

.registration-form__icon {
  width: 35px;
  height: 35px;
  top: 7px;
  right: 7px;
  position: absolute;
}

.registration-form__email,
.registration-form__password,
.registration-form__name,
.registration-form__phone {
  border-radius: 5px;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  outline: none;
}

.registration-form__button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.authorization {
  display: flex;
  justify-content: center;
}

#authorization-form {
  display: none;
}

.authorization-form {
  margin: 0 auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  background: dimgray;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 100;

}

.authorization-form__title {
  color: white;
  margin-bottom: 15px;
}

.authorization-form__icon {
  width: 35px;
  height: 35px;
  top: 7px;
  right: 7px;
  position: absolute;
}

.authorization-form__email,
.authorization-form__password,
.authorization-form__name,
.authorization-form__phone {
  border-radius: 5px;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  outline: none;
}

.authorization-form__button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.header__wrapper_middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-logo__image {
  height: 100px;
  width: 300px;
}

.search-form {
  margin-top: 30px;
  margin-left: -150px;
}

.search-form__content {
  padding: 10px 80px 10px 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
}

.search-form__button {
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  background: #61AC43;
  width: 100px;
  height: 40px;
  cursor: pointer;
  outline: none;
}

.search-form__button:hover {
  background: #FF9900;
  color: white;
}

.basket__image {
  width: 70px;
  height: 70px;
}

.header__wrapper_bottom {

}

.catalog-nav__list {
  display: flex;
  justify-content: center;
  background: #61AC43;
  border-radius: 30px;
}

.catalog-nav__item {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  border-right: 1px solid white;
}

.catalog-nav__link {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
}

.catalog-nav__item:first-child {
  border-left: 1px solid white;
}

.catalog-nav__link:hover {
  background: #FF9900;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__item {
  position: relative;
  padding: 15px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  margin: 10px;
  list-style: none;
  border: 1px solid #D9D9D9;
}

.products__image {
  width: 200px;
  height: 170px;
  margin-bottom: 15px;
}

.products__title {
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
}

.products__price {
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 15px;
}

.products__details {
  position: absolute;
  left: 15px;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.products__order {
  position: absolute;
  right: 15px;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.products__details:hover,
.products__order:hover {
  background: #FF9900;
}

.product-table {
  border-collapse: collapse;
  border: 2px solid #61AC43;
  width: 100%;
}

.product-table__cell-header {
  padding: 10px 40px;
  background: #61AC43;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
}

.product-table__cell {
  vertical-align: middle;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-bottom: 2px solid #61AC43;
}

.product-table__button {
  padding: 10px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.product-table__button_green {
  background: #28A745;
  color: white;
  display: block;
  float: right;
  margin-bottom: 10px;
}

.product-table__button_yellow {
  background: #FFC107;
  color: black;
}

.product-table__button_red {
  background: #DC3545;
  color: white;
}

.product-table__button_green:hover,
.product-table__button_yellow:hover,
.product-table__button_red:hover {
  opacity: 0.8;
}

.product-table__image {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
}

.product-view {
  display: flex;
  justify-content: space-between;
}

.product-view-left__image {
  width: 550px;
  height: 550px;
}

.product-view-right {
  margin: 0 auto;
}

.add-product {
  display: flex;
  justify-content: center;
}

#add-product-form {
  display: none;
}

.add-product-form {
   display: block;
   margin: 0 auto;
   padding: 15px;
   width: 350px;
   border-radius: 10px;
   text-align: center;
   background: dimgray;
   position: fixed;
   top: 20%;
   left: 38%;
   z-index: 100;

 }

.add-product-form__form-title {
  margin-bottom: 15px;
  color: white;
}

.add-product-form__icon {
  width: 35px;
  height: 35px;
  top: 7px;
  right: 7px;
  position: absolute;
}

.add-product-form__title,
.add-product-form__code,
.add-product-form__price {
  border-radius: 5px;
  border: none;
  padding: 10px 90px 10px 15px;
  margin-bottom: 10px;
  outline: none;
}

.add-product-form__button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.add-product__file {
  display: none;
}

.add-product__image {
  display: inline-block;
  background: #FFC107;
  cursor: pointer;
  padding: 10px 90px 10px 15px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.edit-product {
  display: flex;
  justify-content: center;
}

#edit-product-form {
  display: none;
}

.edit-product-form {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  background: dimgray;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 100;

}

.edit-product-form__form-title {
  margin-bottom: 15px;
  color: white;
}

.edit-product-form__icon {
  width: 35px;
  height: 35px;
  top: 7px;
  right: 7px;
  position: absolute;
}

.edit-product-form__title,
.edit-product-form__code,
.edit-product-form__price {
  border-radius: 5px;
  border: none;
  padding: 10px 90px 10px 15px;
  margin-bottom: 10px;
  outline: none;
}

.edit-product-form__button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background: #61AC43;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.edit-product__file {
  display: none;
}

.edit-product__image {
  display: inline-block;
  background: #FFC107;
  cursor: pointer;
  padding: 10px 90px 10px 15px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.edit-product__title {
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
}

.edit-product__image-view {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}